# MANIFEST.in

include LICENSE
include data/*
recursive-include models/ *
exclude *.log
recursive-include classifiers/ *
recursive-include loading_and_processing/ *
recursive-include prediction/ *
recursive-include training/ *
recursive-include tests/ *
recursive-include tuning/ *
include *.md
include setup.py
include logger_config.py
include trainer.py